header {
  background-color: #ef5350;
  color: white;
  padding: 1rem;
  text-align: center;
}

header a {
  text-decoration: none;
}

header h1 {
  color: #ffcb05;
}

header .links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
